@tailwind base;
@layer base {
  html {
    font-family: 'Orbitron', sans-serif;
    /* background-color: #060e02; */
    /* @apply bg-gray-[#060e02;] */
  }
  .link {
    @apply py-2 px-1 rounded-md font-normal hover:bg-me-green-200/80 dark:hover:bg-gray-700/25 flex items-center md:cursor-pointer cursor-default duration-200;
  }
  .active {
    @apply font-medium bg-me-green-200/60 dark:bg-gray-700/40;
  }
}
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
